
.icon-clock:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-user-outline:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-fire:before { content: '\e804'; } /* '' */
.icon-list:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-chart-line:before { content: '\e807'; } /* '' */
.icon-cog-outline:before { content: '\e808'; } /* '' */
.icon-chat:before { content: '\e809'; } /* '' */
