@import '../fontello/css/fontello.css';

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;

  &-full {
   max-width: 1000px;
 }
}

.main-layout-white {
  background-color: #fff;
  height: 100vh;
}

.wrapper {
  display: flex;
  padding: 0 30px;
  padding-top: 80px;
}

.container {
  margin: 0 auto;
  width: 680px;
}